.hero-section {
  background: url("/img/hero-img.png") center center no-repeat;
  background-size: 100% 100%;
}

.shape {
  background-image: url("/img/shape.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.nile-shape {
  background-image: url("/img/nile-shape.png");
  background-size: cover;
  background-repeat: no-repeat;
}
