.hero-section {
  background: url("/img/hero-img.png") center center no-repeat;
  background-size: cover;
}

.shape {
  background-image: url("/img/shape.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.remove {
  transform: translateY(-120vh);
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.loading {
  animation: spacing 3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes spacing {
  from {
    letter-spacing: 150px;
  }

  to {
    letter-spacing: 0px;
  }
}

.progress {
  position: relative;
  height: 10px;
  width: 200px;
  margin: 0 auto;
  border: 2px solid #fff;
  border-radius: 15px;
}
.progress .color {
  position: absolute;
  background-color: #ffffff;
  width: 0px;
  height: 6px;
  border-radius: 15px;
  animation: progres 3s linear;
}
@keyframes progres {
  0% {
    width: 0%;
  }
  25% {
    width: 50%;
  }
  50% {
    width: 75%;
  }
  75% {
    width: 85%;
  }
  100% {
    width: 100%;
  }
}

.splide__pagination {
  bottom: -2.5rem !important;
}

.splide__pagination__page {
  width: 13px !important;
  height: 13px !important;
  background: transparent !important;
  border: 2px solid #1a535c !important;
  &.is-active {
    background: #1a535c !important;
    transform: scale(1.2);
  }
}

.nav-active {
  transform: translateX(0) !important;
  background-color: #1a535c;
}

.bars {
  position: relative;
  border-radius: 20px;
  transition: 0.5s;
  width: 50px;
  & > div,
  &::before,
  &::after {
    content: "";
    display: block;
    height: 4px;
    border-radius: 3px;
    margin: 7px 0;
    transition: 0.5s;
    background: #4ecdc4;
  }

  &::before {
    top: -10px;
  }
  &::after {
    bottom: -10px;
  }

  &.active {
    & > div {
      transform: scale(0);
      background: white;
    }
    &::before {
      transform: translateY(10px) rotate(135deg);
      background: white;
    }

    &::after {
      transform: translateY(-10px) rotate(-135deg);
      background: white;
    }
  }
}
